$trtime: var(--qyuddn-trtime, 0.2s);

.__qyuddn {
  &.container {
    position: relative;
  }

  &.listabs {
    --transition-size: ;

    overflow: hidden;
    position: absolute;
    z-index: var(--qyuddn-z-index, 3);

    transition: opacity #{$trtime} var(--transition-size);

    &:not(._transition_nosize) {
      --transition-size: #{","} width #{$trtime},
      height #{$trtime};
    }

    &:not(._open) {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }

    &._justify_start {
      &._horizontal {
        right: 100%;

        transform-origin: center right;

        &:not(._align_center) {
          transform: translateX(calc(-1 * var(--gap, 0px)));
        }

        &._align_center {
          transform: translateX(calc(-1 * var(--gap, 0px))) translateY(-50%);
        }
      }

      &._vertical {
        bottom: 100%;
        transform-origin: bottom center;

        &:not(._align_center) {
          transform: translateY(calc(-1 * var(--gap, 0px)));
        }

        &._align_center {
          transform: translateY(calc(-1 * var(--gap, 0px))) translateX(-50%);
        }
      }
    }

    &._justify_end {
      &._horizontal {
        left: 100%;
        transform-origin: center left;

        &:not(._align_center) {
          transform: translateX(var(--gap, 0px));
        }

        &._align_center {
          transform: translateX(var(--gap, 0px)) translateY(-50%);
        }
      }

      &._vertical {
        top: 100%;
        transform-origin: top center;

        &:not(._align_center) {
          transform: translateY(var(--gap, 0px));
        }

        &._align_center {
          transform: translateY(var(--gap, 0px)) translateX(-50%);
        }
      }
    }

    &._align_start {
      &._horizontal {
        top: 0;
      }

      &._vertical {
        left: 0;
      }
    }

    &._align_center {
      &._horizontal {
        top: 50%;
      }

      &._vertical {
        left: 50%;
      }
    }

    &._align_end {
      &._horizontal {
        bottom: 0;
      }

      &._vertical {
        right: 0;
      }
    }
  }

  &.listfix {
    --transition-pos: ;
    --transition-size: ;

    $tr: var(--qyuddn-trtime, 0.2s);

    position: fixed;
    overflow: hidden;
    z-index: var(--qyuddn-z-index, 3);

    transition: opacity #{$trtime} var(--transition-size) var(--transition-pos);

    &:not(._open) {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }

    &:not(._transition_nosize) {
      --transition-size: #{","} width #{$trtime},
      height #{$trtime};
    }

    &:not(._transition_nopos) {
      --transition-pos: #{","} top #{$trtime},
      left #{$trtime},
      right #{$trtime},
      bottom #{$trtime};
    }

    &._justify_start {
      &._horizontal {
        transform-origin: center right;
        transform: translateX(calc(-1 * var(--gap, 0px)));
      }

      &._vertical {
        transform-origin: bottom center;
        transform: translateY(calc(-1 * var(--gap, 0px)));
      }
    }

    &._justify_end {
      &._horizontal {
        transform-origin: center left;
        transform: translateX(var(--gap, 0px));
      }

      &._vertical {
        transform-origin: top center;
        transform: translateY(var(--gap, 0px));
      }
    }
  }

  &.content {
    &._tracking {
      position: absolute;
    }

    &:not(._tracking) {
      width: 100%;
      height: 100%;
    }
  }

  .focusguard {
    user-select: none;
    pointer-events: none;

    position: fixed;
    width: 0;
    height: 0;
    top: -100px;
    left: -100px;
  }
}
